{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue</h1>

    <ul>
       <li>Vous pouvez aller sur la page d'inscription <a class="example-wrapper code" href="/sign-up">ici</a></li>
       <li>Si vous possédez déjà un compte vous pouvez vous connecter <a class="example-wrapper code" href="/sign-in">ici</a></li>
       <li>Vous pouvez accéder à la page sécurisée si vous êtes connectés <a class="example-wrapper code" href="/secure-page">ici</a></li>
    </ul>
</div>

{% endblock %}
